@use "sass:map";

@font-face {
  font-family: "sbonzixregular";
  src: url("sbonzix-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

$line-height-base: 1.55555555555555556;
$font-size-base: 18px;
$font-size-factors: (
  "h1": 1.95,
  "h2": 1.55,
  "h3": 1.25,
  "body": 1
);
$font-sizes: (
  "h1": 1em,
  "h2": 1em,
  "h3": 1em,
  "body": 1em
);
$line-height: $font-size-base * $line-height-base;

* {
  margin: 0;
  padding: 0;
}

:root {
  font: {
    size: $font-size-base;
    style: normal;
    weight: normal;
    family: "sbonzixregular";
  }

  line-height: $line-height-base;
}

body {
  background: url("img/main-bck-body.png") repeat;

  padding: {
    //top: calc((($line-height-base * $font-size-base) - $font-size-base) / 2 + 1px);
    right: 0;
    bottom: 0;
    left: 0;
  }

  //width: 30em;
  margin: 0 auto;
}

p {
  line-height: $line-height;

  margin: {
    top: 0;
    bottom: $line-height;
    right: 0;
    left: 0;
  }

  font: {
    size: map.get($font-sizes, "body");
    family: "sbonzixregular";
    weight: normal;
    style: normal;
  }
}

h2 {
  line-height: $line-height; // * 2;
  margin: {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  font: {
    size: map.get($font-sizes, "h2") !important;
    family: "sbonzixregular" !important;
    weight: normal;
    style: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height; // * 3;

  margin: {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  font: {
    size: map.get($font-sizes, "h1") !important;
    family: "sbonzixregular" !important;
    weight: normal;
    style: normal;
  }
}
